DB_URL=
DB_USER=
DB_PW=
JWT_SECRET_KEY=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
AWS_S3_BUCKET=
AWS_REGION=
TOUR_SERVICE_KEY=
FIREBASE_ENABLED=false
FIREBASE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
NOTIFICATION_ZONE=Asia/Seoul
COURSE_REMINDER_CRON="0 0 9 * * *"
NOTIFICATION_DISPATCH_DELAY_MS=60000
